html, body {
  background-color: black;
  font-family: "Cairo" !important;
  overflow: hidden;

  /* Normally we don't want anything to be selectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* CSS Variables are used throughout to help make it a little easier
** to make wholesale changes without having to track down every little
** property definition.  These are also read directly into TMS WEB Core.
*/

:root {

/* Ring Colors - at most 5 rings (usually 3) and a background color */
/* Ring Filter - applied to each set of rings */

  --TxRing1: darkred;
  --TxRing2: darkgreen;
  --TxRing3: royalblue;
  --TxRing4: orange;
  --TxRing5: yellow;
  --TxRingB: #FFFFFF40;
  --TxRingF: drop-shadow(0px 0px 1px black) drop-shadow(0px 0px 1px black);

  --CxRing1: yellow;
  --CxRing2: orange;
  --CxRing3: royalblue;
  --CxRing4: white;
  --CxRing5: white;
  --CxRingB: #FFFFFF40;
  --CxRingF: drop-shadow(0px 0px 1px black) drop-shadow(0px 0px 1px black);

  --WxRing1: orange;
  --WxRing2: yellow;
  --WxRing3: royalblue;
  --WxRing4: white;
  --WxRing5: white;
  --WxRingB: #FFFFFF40;
  --WxRingF: drop-shadow(0px 0px 1px black) drop-shadow(0px 0px 1px black);

  --ExRing1: darkgreen;
  --ExRing2: darkred;
  --ExRing3: royalblue;
  --ExRing4: white;
  --ExRing5: white;
  --ExRingB: #FFFFFF40;
  --ExRingF: drop-shadow(0px 0px 1px black) drop-shadow(0px 0px 1px black);

/* Assorted Delays */
  --Delay-Short: 0.4s;
  --Delay-Medium: 1.0s;
  --Delay-Long: 1.5s;
}


/* Make sure error messages appear on top of everything else */
/* so that they can both be seen and be dismissed */
#tmserrormessage {
  z-index: 9999999 !important;
}


/* Style input elements - Configuration pages usually */
input {
  color: white !important;
}
input[type=password]:focus-visible.ConfigEdit,
input[type=text]:focus-visible.ConfigEdit  {
  border: 2px solid #FF0;
  outline-offset: 0px;
  outline: 1px solid #FF0;
  filter: drop-shadow(0px 0px 2px blue) drop-shadow(0px 0px 2px blue);
}


/* Background
** Generally, this will only work when the background changes from one image to another
** or from one color to another.  Switching from image to color, or color to image
** does not get the benefit of the transition. But it's fun when it works.
*/
#divBackground {
  opacity: 0;
  background-color: black;
  transition: background-image var(--Delay-Long) ease, background-color var(--Delay-Long) ease, opacity var(--Delay-Long) ease;
}

/* Main TWebPageControl Component */
#pages {
  transition: opacity 1.5s ease;
}
/* Individual TWebTabSheet Components */
.Page {
  opacity: 0;
  top: 0px !important;
  left: 0px !important;
  width: 1280px !important;
  height: 400px !important;
  overflow: hidden;
  transition: opacity var(--Delay-Medium) ease 0.1s;
}



/*  Main Left/Right Page Navigation Components */
.Nav {
  z-index: 10;
  background: black;
  width: 40px;
  height: 300px;
  opacity: 0.25;
  left: 0px;
  transition: left var(--Delay-Long) ease, opacity var(--Delay-Short) ease;
}
.Nav:hover {
  opacity: 0.5;
}
.NavLeft {
  left: -40px;
  clip-path: polygon(0% 0%, 100% 50%, 0 100%);
}
.NavRight {
  left: 1320px;
  clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
}
.NavLeftInner {
  top: 1px !important;
  left: 0px !important;
  width: 38px !important;
  height: 299px !important;
  background: white;
  clip-path: polygon(0% 0%, 100% 50%, 0 100%);
}
.NavRightInner {
  top: 1px !important;
  left: 2px !important;
  width: 38px !important;
  height: 299px !important;
  background: white;
  clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
}


/* Main Buttons */
.MainButton {
  opacity: 0;
  color: white !important;
  padding: 0px !important;
  transition: opacity var(--Delay-Short) ease, left var(--Delay-Long) ease, top var(--Delay-Long) ease;
  filter: drop-shadow(0px 0px 2px black) drop-shadow(0px 0px 2px black);
}
.MainButton:hover {
  color: white !important;
  opacity: 0.5 !important;
}
.MainButton > i,
.MainButton > div {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.icon-default {
  transition: opacity var(--Delay-Medium) ease;
}
.icon-alternate {
  opacity: 0;
  transition: opacity var(--Delay-Medium) ease;
}
.icon-third {
  opacity: 0;
  transition: opacity var(--Delay-Medium) ease;
}

/* Title Text */
.Title {
  overflow: visible;
  font-size: 40px;
  padding: 2px 8px 2px 8px;
  color: white;
  filter: drop-shadow(0px 0px 4px royalblue) drop-shadow(0px 0px 4px royalblue);
}
.Title.Status {
  filter: drop-shadow(0px 0px 4px black) drop-shadow(0px 0px 4px black);
}
.Title.StatusGood {
  filter: drop-shadow(0px 0px 4px green) drop-shadow(0px 0px 4px green);
}
.Title.StatusBad {
  filter: drop-shadow(0px 0px 4px red) drop-shadow(0px 0px 4px red);
}
.Title.Splash {
  opacity: 0;
  transition: opacity 2.5s ease;
}
.Title.SplashSub {
  opacity: 0;
  font-size: 20px;
  transition: opacity 3.5s ease;
  filter: drop-shadow(0px 0px 4px black) drop-shadow(0px 0px 4px black);
}
.Title.SplashEnd {
  opacity: 1;
  font-size: 20px;
  transition: opacity 3.5s ease 1.5s;
  filter: drop-shadow(0px 0px 4px black) drop-shadow(0px 0px 4px black);
}

/* Splash Image */
.SplashImage {
  background: url("images/Catheedral-1280X400-Trio-White.png");
  top: 0px !important;
  left: 0px !important;
  width: 1280px !important;
  height: 400px !important;
  opacity: 0.25;
}

/* Configuration Page Styles */
.ConfigEdit {
  font-size: 20px;
  margin: 3px;
  height: 36px !important;
  padding-left: 8px;
  padding-bottom: 5px;
  border: 2px solid var(--bs-light);
  border-radius: 6px;
  background: black;
  color: white;
  overflow-x: hidden !important;
  filter: drop-shadow(0px 0px 2px black) drop-shadow(0px 0px 2px black);
}
.ConfigDropdown > input {
  font-size: 20px;
  margin: 3px;
  padding-left: 8px;
  border: 2px solid white;
  border-radius: 6px;
  background: black;
  color: white;
}
.ConfigList {
  font-size: 20px;
  margin: 3px;
  padding-left: 8px;
  border: 2px solid var(--bs-light);
  border-radius: 6px;
  background: black;
  color: white;
  overflow-x: hidden !important;
  filter: drop-shadow(0px 0px 2px black) drop-shadow(0px 0px 2px black);
  opacity: 0;
  transition: height var(--Delay-Short) ease, opacity var(--Delay-Short) ease;
}
.ConfigList option:checked {
  border-radius: 6px;
}
.ConfigListButton {
  width: 25px !important;
  height: 36px !important;
  padding: 0px !important;
  margin: 3px 0px 0px 8px !importAnt;
  font-size: 22px;
  filter: drop-shadow(0px 0px 2px black) drop-shadow(0px 0px 2px black);
}
.ConfigListButton > i {
  transition: transform var(--Delay-Short) ease;
}
.ConfigButton {
  filter: drop-shadow(0px 0px 2px black) drop-shadow(0px 0px 2px black);
}
.Label {
  overflow: visible;
  font-size: 24px;
  padding: 2px 8px 2px 8px;
  color: white;
  filter: drop-shadow(0px 0px 2px black) drop-shadow(0px 0px 2px black);
}
.Data {
  color: lightblue;
}
.HAData {
  color: lime;
}


/* Help System */
.Help {
  top: 2px !important;
  left: 40px !important;
  width: 1190px !important;
  height: 396px !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}
.HelpTitle {
  padding: 0px 4px 8px 16px;
  color: white;
  font-size: 30px;
  width: 100%;
  filter: drop-shadow(0px 0px 2px royalblue) drop-shadow(0px 0px 2px royalblue);
  white-space: normal;
}
.HelpBody {
  padding: 0px 4px 8px 16px;
  font-size: 24px;
  line-height: 1.15;
  white-space: normal;
  color: white;
  filter: drop-shadow(0px 0px 2px black) drop-shadow(0px 0px 2px black);
}
.HelpHighlight {
  font-weigth: 700;
  color: royalblue;
}


/* Custom Content URL pages (usually <iframe> elements) */
.CustomPage {
  width: 100%;
  height: 100%;
  background: none;
  overflow: hidden;
}


/* Used for drawing rings on the Home Page */
.Ring {
  z-index: 3;
  opacity: 0.65;
}
.TxRing {
  filter: var(--TxRingF);
}
.CxRing {
  filter: var(--CxRingF);
}
.WxRing {
  filter: var(--WxRingF);
}
.ExRing {
  filter: var(--ExRingF);
}

/* Want faster (outer?) moving markers to appear on top of slower (inner?) moving circles */
#ringDayMarker { z-index: 4; }
#ringMinutesMarker { z-index: 5; }
#ringSecondsMarker { z-index: 6; }

#ringClimateHumidityMarker { z-index: 4; }
#ringSetPointMarker { z-index: 5; }
#ringClimateTemperatureMarker { z-index: 6; }

#ringWeatherHumidityMarker { z-index: 4; }
#ringWeatherPressureMarker { z-index: 5; }
#ringWeatherTemperatureMarker { z-index: 6; }

#ringEnergyYesterdayMarker { z-index: 4; }
#ringEnergyTodayMarker { z-index: 5; }
#ringEnergyUseMarker { z-index: 6; }


/* Used for displaying various bits of Text on Home Page and elsewhere */
.Text {
  overflow: visible;
  filter: drop-shadow(0px 0px 1px black) drop-shadow(0px 0px 1px black);
}
.TextCover {
  z-index: 15;
}
.TextSM {
  font-size: 18px;
  z-index: 10;
}
.TextRG {
  font-size: 24px;
  z-index: 11;
}
.TextLG {
  font-size: 32px;
  font-weight: 700;
  z-index: 12;
}
.TextXL {
  font-size: 48px;
  font-weight: 700;
  z-index: 13;
}

/* Used so we can assign arbitrary colors via CSS classes */
.White {
  color: white;
}
.Gray {
  color: silver;
}
.Yellow {
  color: yellow;
}
.Orange {
  color: darkorange;
}
.Red {
  color: red;
}
.Green {
  color: green;
}
.Blue {
  color: royalblue;
}
.Lime {
  color: lime;
}
.DarkGray {
  color: darkslategray;
}


/* Tabulator settings (Configuration) */
.tabulator {
  font-family: Cairo !important;
  font-size: 20px !important;
  border-radius: 6px;
  border: 2px solid white;
  opacity: 0.9;
  filter: drop-shadow(0px 0px 2px black) drop-shadow(0px 0px 2px black);
  background-color: #222222 !important;
}
.tabulator-tableholder {
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}
.tabulator-row.tabulator-row-even {
 background-color: #333333 !important;
}
.tabulator-row.tabulator-row-odd {
  background-color: #444444 !important;
}
.tabulator-cell {
  filter: drop-shadow(0px 0px 2px black) drop-shadow(0px 0px 2px black);
  border: none !important;
}
.tabulator-row > div:nth-child(1) {
  color: deepskyblue;
}
.tabulator-row > div:nth-child(2) {
  color: white;
}
.tabulator-row > div:nth-child(3) {
  color: deepskyblue;
}
.tabulator-row > div:nth-child(4) {
  color: white;
}
div.tabulator-cell.tabulator-editing {
  border: 2px solid white !important;
  border-radius: 6px;
  background: black;
  color: white !important;
  outline-offset: 0px;
  outline: 1px solid #FF0;
  filter: drop-shadow(0px 0px 2px black) drop-shadow(0px 0px 2px black);
}
.tabulator-edit-list {
  border: 2px solid white;
  border-radius: 6px;
  opacity: 0.9;
  margin-top: -1px;
  background: black;
  min-width: 608px;
  max-width: 608px;
  width: 608px;
  overflow-x: hidden;
  transform: translate(-2px, 0px);
}
.tabulator-edit-list-item {
  color: white !important;
  font-size: 18px;
  height: 28px;
  padding: 0px 4px !important;
}


/* Customize scrollbars */
::-webkit-scrollbar {
  width: 30px;
  height: 30px;
}
::-webkit-scrollbar-corner {
  background-color: #00000040;
}
::-webkit-scrollbar-track {
  background-color: #00000040;
  border-radius: 200px;
}
::-webkit-scrollbar-thumb {
  background-color: #4169E1B0; /* royal blue @ 75% */
  border-radius: 200px;
  border: 3px solid #00000080;
}

/* Lights Page */
.LightButton {
  position: relative;
  font-size: 20px;
  line-height: 1.1;
  white-space: normal;
  width: 140px;
  height: 68px;
  border-radius: 15px;
  filter: drop-shadow(0px 0px 2px black) drop-shadow(0px 0px 2px black);
  opacity: 0.6;
  background-color: royalblue;
  border: 1px solid royalblue;
  color: white;
  cursor: pointer;
  opacity: 0.6;
}
.LightText {
  display: flex;
  position: absolute;
  white-space: pre-line;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding-right: 10px;
  text-align: right;
  justify-content: end;
  align-items: center;
  filter: drop-shadow(0px 0px 1px black);
  pointer-events: none;
  z-index: 2;
}
.LightButton:hover {
  opacity: 1;
}
.LightOn {
  border: 1px solid white;
  color: black;
  background-color: white;
}
.LightOff {
  border: 1px solid darkgray;
  color: white;
  background-color: #101010;
}
.LightOther {
  border: 1px solid darkgray;
  color: white;
  background-color: #101010;
  opacity: 0.25;
}
.LightIcon {
  display: flex;
  position:absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  font-size: 64px;
  opacity: 0.15;
  justify-content: start;
  align-items: center;
  pointer-events: none;
  z-index: 1;
}
.LightBtnIcon {
  display: flex;
  position:absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  font-size: 64px;
  opacity: 0.75;
  justify-content: start;
  align-items: center;
  pointer-events: none;
  z-index: 1;
}
#divAllLights {
  gap: 5px;
  padding-left:5px;
  padding-bottom: 2px;
  overflow-x: hidden;
  overflow-y: auto;
  height: auto !important;
  max-height: 398px;
  transition: opacity var(--Delay-Short) ease;
}
