html, body {
  background-color: black !important;
  font-family: "Cairo" !important;
  overflow: hidden;
}

.Page {
  top: 0px !important;
  left: 0px !important;
  width: 1280px !important;
  height: 400px !important;
  background: none;
  overflow: hidden;
}

.Title {
  font-size: 32px;
  padding: 2px;
  color: white;
  filter: drop-shadow(0px 0px 8px blue);
}

.Label {
  font-size: 24px;
  padding: 2px;
  color: white;
  filter: drop-shadow(0px 0px 8px black);
}

.NavLeft {
  background: none;
  z-index: 10;
}

.NavRight {
  background: none;
  z-index: 10;
}

